<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/registration.css">
    <title>регистрация</title>
</head>
<body>
    <header>
        <h1>ПАК</h1>
        <a href="index.html">выйти</a>
    </header>
    <h2 style="margin: 1.7em 3em;">Регистрация</h2>
    <section class="registration">
        <div>
            <div>
                <input name="name" placeholder="Ваше имя">
                <input name="surname" placeholder="Ваша фамилия">
                <div class="photo">
                    <div class="square"></div>
                    <a href="" style="color: #4B82D6; white-space: nowrap;">загрузить фото</a>
                </div>
            </div>

            <p class="title">Ваш пол</p>
            <form class="sex" method="get">
                <input type="radio" checked name="gender" id="man" value="man">
                <label for="man" id="manlab">Мужской</label>

                <input type="radio" name="gender" id="women" value="woman">
                <label for="women" id="womlab">Женский</label>

            </form>

            <div>
                <p class="title">Роль</p>
                <div class="select">
                    <select name="role" id="role">
                        <option value="Студент">Студент</option>
                        <option value="Преподаватель">Преподаватель</option>
                    </select>
                </div>
            </div>
            <div>
                <p class="title">Ваш город</p>
                <div class="select">
                    <select name="" id="city">
                        <option value="Студент">Екатеринбург</option>
                        <option value="Преподаватель">Самара</option>
                    </select>
                </div>
                <p class="title">Дата рождения</p>
                    <input type="date" name="birthdate" id="birthdate">                    
                
            </div>
        </div>
        <div style="margin-left: 30%;">
            <div>
                <input name="E-mail" placeholder="E-mail">
                <input name="phone" placeholder="Телефон">
                <input name="password" type="password" placeholder="Пароль">
                <input name="password2" type="password" placeholder="Повторите пароль">
            </div>           
                
            </div>
        </div>
    </section>
    <footer>
        <div>
            <p>2023 все права защищены</p>
        </div>
        <div>
            <p><u> +7 999 999 99 99</u></p>
            <p>pak@mail.ru</p>
            <p>Тех. Поддержка</p>
        </div>
    </footer>
</body>
</html>