*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}
h1, h2, h3, p, button, select, a{
    font-family: Montserrat;
}
.link{
    text-decoration: none;
}
.header__link{
    color:white;
}
button,
input[type="submit"]{
    background-color: #545af8;
    color: white;
    padding: 1.7vh 1.42vw;
    border: 2px solid rgba(121, 121, 121, 0.65);
}
button.reg{
    position: absolute;
}

header{
    background: #545AF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1, header p, header a{
    color: white;
    margin: 2vh 7vw;
}
.title{
    margin: 1em 0;
}
.registration{
    margin: 0 10vw;
    display: flex;
}
.registration div{
    margin-bottom: 1em;
    width: 25%;
}
.registration input,
input{
    padding: .8vh .5vw;
    margin-bottom: 2em;
    border: 1px solid #B1B1B1;
    width: 11.3vw;
    height: 2.5vh;
}
::placeholder{
    color: #B1B1B1
}
.sex{
    display: flex;
}
.sex input[type="radio"]{
    display: none;
}
.sex label{
    padding: 1.7vh 1.42vw;
    border: solid 1px #B1B1B1;
    cursor: pointer;
}
#man:checked ~ label#manlab,
#women:checked ~ label#womlab{
    background-color: #545AF8;
    color: white
}
.select{
    position: relative;
    display: inline-block;
}
.select select{
    width: 17.8em;
    border: #D9D9D9 solid 1px;
    padding: 1em;
}
.select:after {
    content: "▼";
    font-size: .8em;
    position: absolute;
    left: 16.9em;
    top: 1.2em;
    z-index: 1;
    color: #D9D9D9;
    pointer-events: none;
    box-sizing: border-box;
  }
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#city, #birthdate{
    color: #B1B1B1;
}
#birthdate{
    padding: .7vh .7vw;
    width: 10.8vw;
    height: 2.5vh;
}
footer{
    margin-top: 11.85vh;
    background-color: #545AF8;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2em .5em;
}
footer div{
    display: flex;
}
footer div p{
    margin: 0em 2.5em;
}
.col-md-6{
    position: relative;
}
.error{
    position: absolute;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    color: whitesmoke;
    border: #ef4444 solid 2px;
    background-color: rgba(182, 2, 2, 0.61);
    min-width: 11.5vw;
    font-size: 1em;
    transform: translate(15em, -4.5em);
    z-index: 999;
}
.error:hover{
    opacity: 0.9;
}
#birth_error{
    /*background-color: #545af8;*/
    transform: translate(15em, -4.5em);
}
