*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}
h1, h2, h3, p{
    font-family: Montserrat;
}
header{
    background: #545AF8;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header p{
    cursor: pointer;
}
header h1, header p{
    color: white;
    margin: 2vh 7vw;
}
.main{
    display: flex;
    margin-bottom: 7em;
    padding: 10vh 5vw;
}
.main h1{
    font-size: 4vw;
    margin-bottom: .7em;
}
.secondary{
    color: #BABABA;
    margin-bottom: 2em;
    font-size: 1.2vw;
}
#start{
    cursor: pointer;
    background: #545AF8;
    border-radius: 7px;
    padding: 2vh 3.5vw;
    color: white;
    font-size: 16px;
    border: none;
}
#text{
    max-width: 60vw;
    margin-right: 1vw;
}
#block{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
#InfSec{
    padding: .5em;
    border: 2px solid #4EBC66;
    margin: 4vh 0;
    border-radius: .4em;
 
}
#ProgFrbus{
    padding: .5em;
    border: 2px solid #5CE1EA;
    border-radius: .4em;
}
#Web{
    padding: .5em;
    border: 2px solid #ED4194;
    margin: 4vh 0;
    border-radius: .4em;
}
.AbtUs{
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}
.AbtUs div{
    padding: 4%;
    margin: 2em;
    width: 50%;
}
.AbtUs h2{
    margin-bottom: 1em;
}
.title{
    margin: 1.5em 2.5em;
}
.process{
    display: flex;
    margin-bottom: 5em;
}
.process h3{
    margin: .5em 0;
    text-align: center;
}
.process div{
    margin: 0 2em;
    width: 40%;
    text-align: center;
}
.process hr{
    transform: rotate(90deg);
    margin-top: 10dvh;
    border: .1em solid;
    border-radius: 10px;
    max-height: 5dvh;
}
footer{
    background-color: #545AF8;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2em .5em;
}
footer div{
    display: flex;
}
footer div p{
    margin: 0em 2.5em;
}
.space{
    height: 83dvh;
}